modules = ["go", "go-1.21"]

[nix]
channel = "stable-24_05"
packages = ["jq"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "LogStream"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "logstream_test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ServeCommand"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BuildAndTest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CollectLogs"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ServeAPI"

[[workflows.workflow]]
name = "LogStream"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run cmd/logstream/root.go cmd/logstream/main.go cmd/logstream/serve.go --help"

[[workflows.workflow]]
name = "logstream_test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go build -o logstream ./cmd/logstream && ./logstream --help"

[[workflows.workflow]]
name = "ServeCommand"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run cmd/logstream/root.go cmd/logstream/main.go cmd/logstream/serve.go serve --help"

[[workflows.workflow]]
name = "BuildAndTest"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go build -o logstream ./cmd/logstream && ./logstream --help"

[[workflows.workflow]]
name = "CollectLogs"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run cmd/logstream/root.go cmd/logstream/main.go cmd/logstream/collect.go collect --sources=file://test_logs/test.log"

[[workflows.workflow]]
name = "ServeAPI"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go build -o logstream ./cmd/logstream && ./logstream serve -P 5000"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "go run cmd/logstream/root.go cmd/logstream/main.go cmd/logstream/serve.go --help"]

[[ports]]
localPort = 5000
externalPort = 80
